   {# success.html.twig #}
   {% extends 'base.html.twig' %}

   {% block body %}
       <h1>Message envoyé avec succès !</h1>
       <p>Merci de nous contacter. Nous vous répondrons bientôt.</p>
   {% endblock %}
